body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  background-color: blanchedalmond;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

span {
  color: darkslategray;
  text-decoration: underline;
}

li {
  background-color: lightblue;
  width: 300px;
  border: 2px solid darkcyan;
  padding: 20px;
}

li :last-child {
  margin-bottom: 0;
}

button {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 8px;
  background-color: darkcyan;
  border: 2px solid darkslategray;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  border: 2px solid darkslategray;
  background-color: lightblue;
  width: 300px;
}

form :last-child {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100px;
}

input {
  width: 200px;
  height: 20px;
}
